
{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/dirceu1x.png' %}" alt="ChicoArraes" />
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href=""><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href=""><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
            </nav>
        </section>


<!---
<div class="pagina-inicial">
    <header class="cabecalho">
     <img src="{% static '/assets/logo/dirceu.png' %}" alt="ChicoArraes" /> 
       
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
               <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
              <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a> 
                <a href=" "><img src="{% static '/assets/ícones/1x/CalETo1x.png' %}"> Calculo ETo</a>
                <a href="{% url 'calPerda' %}"><img src="{% static '/assets/ícones/1x/CalETo1x.png' %}"> Calculo <i>hf</i></a>
                <a href="{% url 'calProjeto' %}"><img src="{% static '/assets/ícones/1x/CalETo1x.png' %}"> Projeto de Irrigação</a> 
            </nav>
        </section> -->