
{% extends 'shared/base.html' %}

{% block content %}
    
    <section>
        <h1>Bem-vindo à página do Professor Dirceu Arraes</h1>
        <h2>Uma breve apresentação</h2>

        <p> Cearense, natural de Iguatu, filho de Gerucia Duarte e Antônio Arraes (Jua ou Joacilo — não me pergunte de onde vem esse nome, coisa de vó Mundinha), irmão da Dicelle (se garante na Química, leitura racial, na questão da mulher negra e para tomar um vinho branco ouvindo os seus <i>FlashBack </i> dos anos 80), torcedor dos alvinegros Ceará e Vasco (nasci na década de 80, isso é normal para minha geração). Desde o dia 23/09/2019 ( o dia mais feliz da minha vida!!!), tive a missão de ser o <b>Papai da Marisa</b>.
</p>


        <p>A vida escolar foi inteiramente vivida na escola pública: o ensino fundamental nas escolas Dr. Carlos de Gouvea e Filgueiras Lima; já o ensino médio foi quase todo cursado na antiga Escola Agrotécnica Federal de Iguatu e concluído no Adauto Bezerra (coisas da juventude).
</p>

        <p> Há um ditado popular que diz: “O bom filho à casa retorna” (talvez eu não fosse tão bom filho assim...), mas acabei voltando para cursar a primeira turma do Curso de Irrigação e Drenagem (ensino superior), justamente no período de transição da Agrotécnica Federal para o Instituto Federal.
</p>

        <p> Após concluir o curso de Irrigação, “levantei a minha ribada” (como diria o velho Luiz Gonzaga) em busca da capital cearense e da UFC — sonho da minha vida — para fazer o mestrado em Engenharia Agrícola. No mestrado, aprendi tantas coisas que é difícil até quantificar e fiz amigos para uma vida.
</p>

        <p> Depois de dois anos na “capital da Terra do sol” e sua loucura de tantos ônibus para lá e para cá, mais uma vez a vida me levou para longe da minha terrinha. Dessa vez, fui parar em Piracicaba/SP, na famosa Escola Superior de Agricultura Luiz de Queiroz — ESALQ/USP. A missão era fazer o doutorado em Física do Ambiente Agrícola (a Física merece um capítulo à parte na minha vida). Em “Pira”, passei frio pela primeira vez na vida e conheci a realidade de outra região, bem diferente do meu querido Nordeste.
</p>

        <p> O bom é que, no LEB (Laboratório de Engenharia de Biossistemas — antigo Departamento de Engenharia Rural), havia uma legião de nordestinos, o que tornou tudo mais fácil, tanto para encarar as disciplinas quanto para desenvolver a pesquisa.
</p>

        <p> Mais uma vez, a vida abriu uma porta: a oportunidade de ser professor do IFSertãoPE. Nesse processo seletivo, fiquei em terceiro lugar e, com os mistérios que é impossível entender ou explicar, essa colocação acabou sendo perfeita. Fui chamado para o campus Salgueiro — e já se vão anos...
</p>


    </section>
{% endblock %}  

